body {
  font-family: Helvetica;
}

* {

}

.header {
  background-image: url(file:///Users/salcrom/projects/Broadway/resources/images/theflatironbuilding.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn-nav {
  padding-bottom: 2%;
}

.btn-nav a{
  color: white;
}

.seccion1 {
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

img {
  width: auto;
  height: auto;
}

.IUE p {
  font-size: 14px;
}

.seccion2 {
  background-image: url(file:///Users/salcrom/projects/Broadway/resources/images/theflatironbuilding.png);
  color: white;
  text-align: center;
}

.seccion2 h3 {
    padding: 0 auto;
}
